{% extends "base.html" %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Projects</li>
    </ol>
    <div class="page-header">
        <h1>Projects</h1>
    </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
          <div class="btn-group btn-group-justified">
          <a class="btn btn-default" href="{% url 'project_create' %}">Create a new project</a>
      </div>
        <ul>
           {% for project in project_list %}
               <li>
                   <a href="{% url 'project_detail' project.slug %}">{{ project.title }}</a>
               </li>
            {% endfor %}
        </ul>
      </div>
{% endblock content %}