{% extends "projects/project_base.html" %}

{% block project_content %}
        <div class="well">
            {{ project.description }}
        </div>

      <div class="well row">
      {% for board in project.board.all %}
         <div class="col-lg-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">{{ board.title }} <a class="btn btn-sm btn-warning" href="{% url 'board_delete' project.slug board.pk %}">Del</a></h3>
              </div>
              <div class="panel-body">
                  <div class="list-group">
                  {% for card in project.card.all %}
                      {% if card.board.id == board.pk %}
                        <div class="list-group-item well">
                            <div class="list-group-item-heading">{{ card.title }}</div>
                            <hr/>
                            <div class="list-group-item-text">
                                <button class="btn btn-sm btn-primary">Done</button>
                                <a class="btn btn-sm btn-warning" href="{% url 'card_delete' project.slug card.slug %}">Del</a>
                                <a href="{% url 'card_detail' project.slug card.slug %}" class="btn btn-sm btn-success">Open</a>
                            </div>
                        </div>
                      {% endif %}
                  {% endfor %}
                  </div>
              </div>
              <div class="panel-footer">Board info: {{ board.position }}</div>
          </div>
          </div>
      {% endfor %}
    </div>
{% endblock %}